[Unit]
Description=Prometheus exporter for Postgresql
Wants=network-online.target
After=network-online.target
[Service]
User=prometheus
Group=prometheus
WorkingDirectory=/opt/postgres_exporter
EnvironmentFile=/opt/postgres_exporter/postgres_exporter.env
ExecStart=/usr/local/bin/postgres_exporter --web.listen-address=0.0.0.0:9187 --web.telemetry-path=/metrics
Restart=always
[Install]
WantedBy=multi-user.target
